/* Backgrounds de nos pages */

body
{
  background-color: RGB(124, 138, 141);
}
/* Paramètre par défaut */
*
{
  margin: 0;
  padding: 0;
  color : white;
  border-collapse : collapse;  
  text-decoration: none;
}

input 
{
  color : black;
}

/* Titre de nos pages */
#fond_perdu
{
  width: 100%;    
  height: 128px;
  background-image:url(images/degrade.png);  
  background-repeat : repeat-x;   
}

#menu_perdu
{
  width : 100%;
  height : 31px;
  background-image:url(images/menu_degrade.png);
  background-repeat : repeat-x;
}

#EN_TETE
{
  width: 100%;    
  height: 100%;
  background-image:url(images/Header.png);  
  background-repeat : no-repeat;
  background-position: center;    
}

/* Titre utilisé dans profil.php */
.CORPS h4
{
  font-weight : normal;
  font-family : Bookman Old Style, sans-serif, Arial;
  padding-bottom : 1%;
  padding-top : 1%; 
  font-size : 1.2em;
  color : RGB(0, 0, 55);
}

/* Tableau dans administrateur.php */
#admin th
{
  font-size : 1em;
  width : 100px;
  height : auto;
  text-align : left;
  text-decoration : none;
  color : RGB(30, 30, 30);
}

/* Propriété du MENU */
/* Image menu */
#MENU
{  
  background-image:url(images/Menu.png);
  background-repeat: no-repeat;
  background-position: center;
  width : 100%;
  height : 31px;
}

/* Position Texte */
#menu_tableau
{
  margin-left : 30%;
}

#menu_tableau td
{
  display : inline-block;
  margin-right : 1em;
  margin-left : 1em;
  font-family : Century Gothic, sans-serif, Arial;
  font-size: 1.1em;
}

/* Propriétés sur les liens du tableau menu */

#menu_tableau a:hover
{
  color: RGB(22, 39, 210);
}

/* Slide de connection */
#menu_connexion
{
  font-family: Century Gothic, sans-serif, Arial;  
  font-size : 1.1em;  
  float: right;
  margin-right: 1em;
}

#menu_connexion ul
{
  list-style: none;
  margin: 0;
  position: relative;
}

#menu_connexion li
{
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

#menu_connexion a
{
  text-decoration: none;
  color: white;
}

#menu_connexion a:hover
{
  color: RGB(22, 39, 190);
}

/* Pied de page */
#PIED_PAGE
{
  position: relative;  
  width: 100%;
  height: auto;  
  margin-right: auto;
  margin-left: auto;
  background-image:url(images/Footer.png);
  background-repeat: no-repeat;
  background-position: center;
}

#pied_tableau
{  
  margin-left : 30%;
}

#pied_tableau td
{  
  display : inline-block;
  text-align : left;
  font-size : 1.1em;
  font-family : Century Gothic, sans-serif, Arial;
  margin-left : 1em;
  margin-right : 0.5em;
}

#pied_tableau a:hover
{
  color: RGB(22, 39, 190);
}

/* Corps de la page */
/* Image de fond */
.IMG_FOND
{  
  background-image:url(images/Body.png);  
  background-size: 100%;
  background-repeat: no-repeat;
  background-position : center;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 1075px;
  height : auto;
  min-height: 600px;
}

/* Position du texte et des formulaires */
.CORPS
{
  font-family : Times New Roman, sans-serif, Arial;
  font-size : 1.1em;
  width : 700px;
  padding-top : 10px;
  margin-right : auto;
  margin-left : auto;
}

/* Mise en page des formulaires */
.CORPS label
{  
  display : block;
  width : 100px;
  float : left;
}

/* QCM -> choix de la matiere */
.choix_matiere
{
  margin-right: auto;
  margin-left: auto;
}

.choix_matiere td
{
  margin: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 1px black;
  color: white;
}
/* Lien */
.choix_matiere a
{
  text-decoration: none; 
  display: block;
  width: 100px;
  margin-top: 175px;
  margin-left: 50px;
  text-align: center;
  color: white;
}
/* Lien survolé */
.choix_matiere a:hover
{
  background-color:  RGB(7, 30, 63);
}

.rep_bon
{
  color: green
}

.rep_faux
{
  color: red
}

/* editeur */

.a_qcm
{
  float: right;
}

.qr
{
  margin: 10px;
}
