/* Backgrounds de nos pages */

body
{
  background-color: RGB(124, 138, 141);
  font-family : Arial;
}
/* Paramètre par défaut */
*
{
  margin: 0;
  padding: 0;
  color : white;
  border-collapse : collapse;  
  text-decoration: none;
}

input 
{
  margin-top : 0.1em;
  margin-bottom : 0.1em;
  margin-left: 15%;
  margin-right: 10px;
  color : black;
}

/* Titre de nos pages */
#fond_perdu_header
{
  width: 100%;    
  height: 128px;
  background-image:url("images/degrade.png");  
  background-repeat : repeat-x;   
}

#EN_TETE
{
  width: 100%;    
  height: 100%;
  background-image:url("images/Header.png");  
  background-repeat : no-repeat;
  background-position: center;    
}

/* Propriété du MENU */
#fond_perdu_menu
{
  width : 100%;
  height : 31px;
  background-image:url("images/menu_degrade.png");
  background-repeat : repeat-x;
}
/* Image menu */
#MENU
{  
  background-image:url("images/Menu.png");
  background-repeat: no-repeat;
  background-position: center;
  width : 100%;
  height : 100%;
}

/* Position Texte */
#menu_tableau
{  
  margin-left : 22%;
}

#menu_tableau td
{
  display : inline-block;
  margin-top : 0.1em;
  margin-right : 1.8em;
  margin-left : 1.8em;
  font-family : Century Gothic, sans-serif, Arial;
  font-size: 1.3em;
}

/* Propriétés sur les liens du tableau menu */

#menu_tableau a:hover
{
  color: RGB(22, 39, 210);
}

/* Slide de connection */
#menu_connexion
{
  font-family: Century Gothic, sans-serif, Arial;  
  font-size : 1.3em;  
  float: right;
  margin-right: 1em;
}

#menu_connexion ul
{
  list-style: none;
  margin: 0;
  position: relative;
}

#menu_connexion li
{
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

#menu_connexion a
{
  text-decoration: none;
  color: white;
}

#menu_connexion a:hover
{
  color: RGB(22, 39, 190);
}

/* Pied de page */
#fond_perdu_pied
{
  width : 100%;
  height : 53px;
  background-image:url("images/fond_degrade.png");
  background-repeat : repeat-x;
}

#PIED_PAGE
{
  width : 100%;
  height : 100%;  
  margin-right : auto;
  margin-left : auto;
  background-image : url("images/Footer.png");
  background-repeat : no-repeat;
  background-position : center;
}

#pied_tableau
{  
  margin-left : 22%;
}

#pied_tableau td
{  
  display : inline-block;
  font-size : 1.3em;
  font-family : Century Gothic, sans-serif, Arial;
  margin-top : 0.4em;
  margin-left : 1.8em;
  margin-right : 1.8em;
}

#pied_tableau a:hover
{
  color: RGB(22, 39, 190);
}

/* Corps de la page */
/* Image de fond */
.IMG_FOND
{  
  background-image:url(images/Body.png); 
  width: 1075px;
  background-repeat: repeat-y;
  margin-left: auto;
  margin-right: auto;
}

/* Position du texte et des formulaires */
.CORPS
{
  font-family : Century Gothic, Times New Roman, sans-serif, Arial;
  font-size : 1.3em;
  width : 1000px;
  height : auto;
  padding-top : 0.8em;
  margin-right : auto;
  margin-left : auto;
  min-height : 800px;
}

/* Mise en page des formulaires */
.CORPS label
{  
  display : block;  
  width : 20%;
  height : auto;
  float : left;
}

.CORPS h3
{
  font-family : Comic Sans MS, Arial;
  font-weight : normal;
  font-size : 1.1em;
}

/* Titre utilisé dans profil.php */
.CORPS h4
{
  font-weight : normal;
  font-family : Bookman Old Style, sans-serif, Arial;
  padding-bottom : 1%;
  padding-top : 1%; 
  font-size : 1.1em;
  color : RGB(0, 0, 55);
}

/* Tableau Corps */
.CORPS td
{
  text-align : left;
  width : 200px;
  font-size : 1.1em;
  margin-top : 0.7em;
  margin-bottom : 0.7em;
}

.CORPS th
{
  font-size : 1.25em;
  font-family : Bookman Old Style, Arial;
  text-align : left;
  font-weight : normal;
}

/* QCM -> choix de la matiere */
.choix_matiere
{
  margin-right: auto;
  margin-left: auto;
}

.choix_matiere td
{
  margin: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 1px black;
  color: white;
  text-align: center;
}
/* Lien */
.choix_matiere a
{
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 120px;
  text-align: center;
  margin: 170px auto auto;
  color: white;
}
/* Lien survolé */
.choix_matiere a:hover
{
  background-color:  rgba(70, 87, 96, 0.8);
}

.rep_bon
{
  color: green
}

.rep_faux
{
  color: red
}

/* editeur */

.a_qcm
{
  float: right;
}

.qr
{
  margin: 10px;
}

.float_right
{
  display: block;
  float: right;
  text-align: left;
  margin-top: 50px;
  width: 70%;
}

.float_left
{
  display: block;
  float: left;
  text-align: right;
  margin-top: 50px;
  margin-right: 30px;
  width: 70%;
}
